.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card {
  max-width: 345;
  margin: 10;
}
.pos {
  margin: 10px;
  background-color: lightslategrey;
}

.box-default {
  background-color: plum;
}

.box-margin-30 {
  margin-left:15px;
  margin-right: 15px;

}

.margin-auto {
  margin: auto;
}

.box-padding {
  padding-bottom:0px;
  padding-right: 75px;
  padding-left: 75px;
  padding-top: 0px;
}

.card-padding {
  padding:30px;
}

.card-margin {
  margin: 30px;
}

.h2-label-font {
  color: #767676;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(0,0,0,0.1); 
  background: #f0c;
  background: -webkit-linear-gradient(0deg,#339,#f0c);
  background: -webkit-gradient(linear,left bottom,left top,from(#339),to(#f0c));
  background: -webkit-linear-gradient(bottom,#339,#f0c);
  background: -o-linear-gradient(bottom,#339,#f0c);
  background: linear-gradient(0deg,#339,#f0c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 200;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;

}

.card-action-area {
  padding: 100px;
  background-color: lightslategrey;
}

.card-media-all-genre {
  width: 310px;
  height: 175px;
  margin: 10px;
}

.card-media-single-genre {
  width: 708px;
  height: 400px;
  margin: auto;   
}

.card-media-genre-examples {
  width: 221px;
  height: 125px;
  margin: auto;   
}
